
/.idea/
/.vscode/
/.settings/
/out/
/bin/
/com/


.classpath
.project

# Class Files
.class

# Package Files
*.jar
*.war
*.ear

# netbeans specific # 
nbproject/private/ 
build/ 
nbbuild/ 
dist/ 
nbdist/ 
nbactions.xml 
nb-configuration.xml
